/*
 * This section is for the calendar.
 */

 @import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

 body {
   background-color:#282423;
 }
 
 .noclick {
   cursor: not-allowed !important;
 }
 
 .jzdbox1 ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
 }
 
 .jzdbox1 ul li {
     color: white;
     font-size: 20px;
     text-transform: uppercase;
     letter-spacing: 3px;
     list-style-type: none;
 }
 
 .jzdbox1 .prev {
     float: left;
     padding-top: 10px;
     cursor: pointer;
 }
 
 .jzdbox1 .next {
     float: right;
     padding-top: 10px;
     cursor: pointer;
 }
 
 .jzdbox1 {
   position: absolute;
   float:left;
   z-index: 1;
   width:315px; 
   background:#332f2e; 
   border-radius:5px; 
   overflow:hidden; 
   display:block; 
   margin-bottom:10px; 
   box-shadow:0 0 10px #201d1c; 
   margin:0 10; 
   margin-top:50px;
 }
 
 .jzdcal {
   padding:0 10px 10px 10px; 
   box-sizing:border-box!important; 
   background:#749d9e; 
   background: -webkit-linear-gradient(#749d9e, #b3a68b)!important; 
   background: -o-linear-gradient(#749d9e, #b3a68b)!important; 
   background: -moz-linear-gradient(#749d9e, #b3a68b)!important; 
   background: linear-gradient(#749d9e, #b3a68b)!important;
 }
 
 .jzdcalt {
   font:18px 'Roboto'; 
   font-weight:700; 
   color:#f7f3eb; 
   display:block; 
   margin:18px 0 0 0; 
   text-transform:uppercase; 
   text-align:center; 
   letter-spacing:1px;
 }
 
 .jzdcal span {
   font:11px 'Roboto'; 
   font-weight:400; 
   color:#f7f3eb; 
   text-align:center; 
   width:42px; 
   height:42px; 
   display:inline-block; 
   float:left; 
   overflow:hidden; 
   line-height:40px;
   cursor: pointer;
 }
 
 .jzdcal .jzdb:before {
   opacity:0.3; 
   content:'o';
 }
 
 .circle {
   border:1px solid #f7f3eb; 
   box-sizing:border-box!important; 
   border-radius:200px!important;
 }
 
 span[data-title]:hover:after, 
 div[data-title]:hover:after {
   font:11px 'Roboto'; 
   font-weight:400; 
   content:attr(data-title); 
   margin:0 0 100px; 
   background:#282423; 
   border:1px solid #f7f3eb; 
   color:#f7f3eb; 
   padding:5px; 
   z-index:9999; 
   min-width:150px; 
   max-width:150px;
 }
 